* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    color: grey;
    text-decoration: none;
}

header {
    display: block;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul {
    padding-left: 0;
}

.viewport {

}

.content {
    padding-top: 25%;
    text-align: center;
}

.left-aligned {
    float: left;
}

.right-aligned {
    float: right;
}

#black {
    color:black;
}